@import "foundation/foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);
@import url(http://fonts.googleapis.com/css?family=Megrim);

$primary-color: #22334A;
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Megrim", sans-serif;

.top {
  height: 100%;
  background: 50% 50% no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)), url('../images/full.jpg'); 
  background-attachment: scroll;
  overflow: scroll;
   img {
    max-width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
  }
  ul {
    position: absolute;
    top: 80px;
    right: 100px;
  }

  li {
    list-style-type: none;
  }

  a {
    color: white;
    font-size: 0.85em;
    font-family: "Open Sans";
    text-decoration: none;
  }
}

/*********************************************************

Burger Navigation

**********************************************************/

#burger-holder {
   position: relative; 
   background-color: white;  
   cursor: pointer; 
   border: none; 
   
   #burger-img {
   width: 42px; 
   height: 26px;
   position: absolute;
   right: 100px;
   top: 26px;
  }
}

#burger-menu {
   display: block;
   position: absolute; 
   right: 80px;
   top: 120px;
   width: 120px;
   background-color: white; 
   border: 1px solid #eee; 
   border-radius: 5px; 
   padding: 5px 10px 5px 10px; 
   font-size: 16px;
   line-height: 150%;
   color: #2F8CDB;
   color: white;
   white-space: nowrap;
   }

#burger-menu a {
   color:#2F8CDB;
   text-decoration:none;
   }


/*********************************************************

End Burger Navigation

**********************************************************/

.benschnell {
  margin: 60% auto 0 auto;
  h1 {
    text-align: center;
    color: white;
    font-family: "Megrim";
    font-size: 1.5em;
    // font-weight: 700;
  }
  h3 {
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 0.85em;
    font-weight: 300;
  }
}


.headshot {
  margin-top: 10%; }

.headshot img {
  max-width: 50%;
  border-radius: 50%;
  // max-width: 50%;
  margin: 0 25%;
   }


.philo h4 {
  text-align: center;
  color: $primary-color;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  }

.tagline {
  max-width: 740px;
  p {
  margin-top: 5%;
  color: $primary-color;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.80em; 
  }
}


  /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 0.85em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 0.80em;
  }
   p {
    font-family: "Open Sans";
    font-size: 0.70em;
  }
   a {
    font-family: "Open Sans";
    font-size: 0.70em;
    color: gray;
    padding: 10px;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  /*********************************************** 

  Contact

  ************************************************/

.contact {
  background-color: white;
  margin-top: 30px;
  ul {
  text-align: center;
  margin-bottom: 0;
    }
  img {
  max-width: 90%;
  margin: 10px 5%;
   }
  li {
    text-decoration: none;
    list-style-type: none;
     }
  a {
    color: white;
    font-size: 0.50em;
    font-family: $primary-font;
    text-decoration: none;
    padding: 0 0 -30px 0;
     }
  h1 {
    background-color: gray;
    padding: 10px 0;
    color: white;
    font-size: 1.5em;
    font-family: $primary-font;
    text-align: center;
     }
  a:hover {
    color: silver; 
  }
}


/*********************************************** 

End Contact 

************************************************/


/*********************************************** 

MEDIA QUERIES 

************************************************/


@media only screen and (min-width: 456px) {
 
  .benschnell {
    margin-top: 45%;
  }

  .headshot {
    margin-top: 2%; }
   
  .headshot img {
    border-radius: 50%;
    // max-width: 50%;
    margin: 5% 25%; }
 
  .philo {
    h4 {
      font-size: 1.5em;
    }
  }

  .tagline p {
    margin-top: 2%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.90em;
  }


  .contact {
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      font-size: 0.75em;
    }
    img {
      max-width: 150px;
    }
  }
}

@media only screen and (min-width: 650px) {
 
  .benschnell {
    margin-top: 40%;
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
  .headshot {
    img {
    max-width: 80%;
    margin: 30px 5% 30px 10%
  }
}

  .philo {
    h4 {
      font-size: 1.8em;
      color: black;
      margin-top: 30px;
      text-align: left;
    }
  }

  .tagline {
    p {
      font-size: 1.1em;
      color: black;
      text-align: left;
    }
  }

  /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 1.2em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 1em;
  }
   p {
    font-family: "Open Sans";
    font-size: 0.90em;
  }
   a {
    font-family: "Open Sans";
    font-size: 0.90em;
    color: gray;
    padding: 10px;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  .contact {
    h1 {
      font-size: 1.5em;
    }
    img {
      max-width: 200px;
      }
    a {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 767px) {
 
 .benschnell {
  margin-top: 40%;
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.7em;
  }
 }
  .headshot {
    margin: 4% auto 0 auto; }
  
  .headshot img {
    // max-width: 80%;
    margin: 0 auto 0 auto;
  }

  .philo {
    h4 {
      font-size: 2.2em;
    }
  }
  .tagline {
    p {
      font-size: 1.3em;
    }
  }  


    /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 1.5em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 1.2em;
  }
   p {
    font-family: "Open Sans";
    font-size: 1.1em;
  }
   a {
    font-family: "Open Sans";
    font-size: 1.1em;
    color: gray;
    padding: 10px;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  .contact {
    h1 {
      font-size: 3em;
      margin: 50px 0 30px 0;
    }
    img {
      max-width: 200px;
      }
    a {
      font-size: 1.3em;
    }
  } 
}


@media only screen and (min-width: 1000px) {

  .top {
    background-attachment: fixed;
  }

  .benschnell {
    margin-top: 17%;

    h1 {
      font-size: 3.5em;
    }
    h3 {
     font-size: 2em;
    }
  }

  .headshot {
    img {
      max-width: 60%;
      margin: 45px 30% 100px 10%;
      border-radius: 10px;
    }
  }

  .philo {
    h4 {
      text-align: left;
      color: black;
      margin: 75px 100px 0 -100px;
    }
  }

  .tagline p {
    text-align: left;
    color: black;
    margin: 0 100px 0 -100px;
  }

  .headshot img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
  }

  .headshot img:hover {
    filter: none;
    -webkit-filter: none;
  }

  /*******************************************************

  Gallery

  *********************************************************/
.examples1 {
  display: none;
}

.examples2 {
  display: block;
}

.gallery {
    position:relative;
    width:50%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
}

.gallery figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.gallery figure img {
    display:block;
    position:relative;
    z-index:10;
}
.gallery figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.gallery figure h2 {
    font-family:'Open Sans';
    font-weight: 300;
    color: white;
    font-size:24px;
    text-align:left
}

.gallery figure h3 {
    font-family:'Open Sans';
    font-weight: 300;
    color: white;
    font-size:21px;
    text-align:left
}
.gallery figure p {
    display:block;
    font-family:'Open Sans';
    font-weight: 300;
    font-size:18px;
    line-height:21px;
    margin:0;
    color: white;
    text-align:left
}
.gallery figure a {
    display:block;
    font-family:'Open Sans';
    font-weight: 300;
    font-size:18px;
    line-height:21px;
    margin:0;
    color: black;
    text-align:left;
    padding: 10px;
}

.gallery figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color: #756A67;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.gallery figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.gallery figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.gallery figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

  /*******************************************************

  End Gallery

  *********************************************************/

  /*******************************************************

  Contact

  *********************************************************/

  .contact {
    background-color: white;
    h1 {
      font-size: 1.5em;
    }
    ul {
      text-align: center;
    }
    img {
      width: 100px;
      }
    a {
      font-size: 1em !important;
      text-align: left;
      color: white;
    }
  } 
}


  /*******************************************************

  End Contact

  *********************************************************/

@media only screen and (min-width: 1200px) {


  .contact {
    margin-top: 0;
    background-color: white;
    li {
      display: inline-block;
    }
    img {
      max-width: 100px;
      }
    
    a {
      font-size: 1em;
      padding-bottom: 30px;
    }
  }
}

