@import "foundation/foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lora);

$primary-color: #22334A;
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Ubuntu", sans-serif;

.top {
 // height: 100%;
  background: 50% 50% no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  position: relative;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)), url('../images/full.jpg'); 
  background-attachment: scroll;
  overflow: scroll;
   img {
    max-width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
  }
  ul {
    position: absolute;
    top: 80px;
    right: 100px;
  }

  li {
    list-style-type: none;
  }

  a {
    color: white;
    font-size: 0.85em;
    font-family: "Open Sans";
    text-decoration: none;
  }
}

/*********************************************************

Burger Navigation

**********************************************************/

#burger-holder {
   position: relative; 
   background-color: black;  
   cursor: pointer; 
   border: none; 
   
   #burger-img {
   width: 42px; 
   height: 26px;
   position: absolute;
   right: 100px;
   top: 26px;
  }
}

#burger-menu {
   display: block;
   position: absolute; 
   right: 40px;
   top: 60px;
   width: 120px;
   background-color: white; 
   border: 1px solid #eee; 
   border-radius: 5px; 
   padding: 5px 10px 5px 10px; 
   font-size: 16px;
   line-height: 150%;
   color: #2F8CDB;
   color: white;
   white-space: nowrap;
   }

#burger-menu a {
   color:#2F8CDB;
   text-decoration:none;
   }


/*********************************************************

End Burger Navigation

**********************************************************/

.benschnell {
  margin: 15% auto 15% auto;
  h1 {
    text-align: center;
    color: black;
    font-family: "Ubuntu";
    font-size: 2.5em;
  }
  
  h3 {
    text-align: center;
    color: black;
    font-family: "Open Sans";
    font-size: 0.85em;
    font-weight: 300;
  }
}


.headshot {
  margin-top: 10%; }

.headshot img {
  max-width: 50%;
  border-radius: 50%;
  // max-width: 50%;
  margin: 0 25%;
   }


.philo h4 {
  text-align: center;
  color: $primary-color;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  }

.tagline {
  max-width: 740px;
  p {
  margin-top: 5%;
  color: $primary-color;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.80em; 
  }
}

.samples {
  text-align: center;
  background-color: #024367;
  margin-bottom: 30px;
  
  h1 { 
    color: white;
    padding: 10px 0;
    font-family: "Megrim";
    font-size: 1em;
  }
}

  /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px 50px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 0.85em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 0.80em;
  }
   p {
    font-family: "Lora";
    font-size: 0.70em;
  }
   a {
    font-family: "Open Sans";
    font-size: 0.70em;
    color: gray;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  /*********************************************** 

  Contact

  ************************************************/

.contact {
  background-color: white;
  margin-top: 30px;
  padding: 30px 0;
  overflow: hidden;
  ul {
    text-align: center;
    margin-left: 0 !important;
  }
  img {
   max-width: 50px;
   padding-top: 20px;
   padding-right: 10px;
   }
  li {
    list-style-type: none;
    display: inline-block;
     }
  a {
    color: white;
    font-size: 0.50em;
    font-family: $primary-font;
    text-decoration: none;
     }
  h1 {
    font-family: "Ubuntu";
    color: black;
    text-align: center;
     }
  a:hover {
    color: black; 
  }
}


/*********************************************** 

End Contact 

************************************************/


/*********************************************** 

MEDIA QUERIES 

************************************************/
@media only screen and (max-height: 450px) {
  .benschnell{
    margin-top: 20% !important;
  }
}

@media only screen and (min-width: 456px) {
 
  // .benschnell {
  //   margin-top: 20%;
  // }

  .headshot {
    margin-top: 2%; }
   
  .headshot img {
    border-radius: 50%;
    // max-width: 50%;
    margin: 5% 25%; }
 
  .philo {
    h4 {
      font-size: 1.5em;
    }
  }

  .tagline p {
    margin-top: 2%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.90em;
  }


  .contact {
    clear: both;
    ul {
      text-align: center;
      margin-left: 0;
    }
    li {
      display: inline-block;
    }
    a {
      font-size: 0.75em;
    }
    img {
      max-width: 120px;
      padding: 20px 30px;
    }
  }
}

@media only screen and (min-width: 650px) {
 
  .benschnell {
    h1 {
      font-size: 3.5em;
    }
    h3 {
      font-size: 1.8em;
    }
  }
  .headshot {
    img {
    max-width: 80%;
    margin: 50px 5% 30px 10%
  }
}

  .philo {
    h4 {
      font-size: 1.8em;
      color: black;
      margin-top: 50px;
      text-align: left;
    }
  }

  .tagline {
    p {
      font-size: 1.1em;
      color: black;
      text-align: left;
    }
  }

  /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 1.2em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 1em;
  }
   p {
    font-family: "Lora";
    font-size: 0.90em;
  }
   a {
    font-family: "Open Sans";
    font-size: 0.90em;
    color: gray;
    padding: 10px;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  .contact {
    clear: both;
    img {
      max-width: 150px !important;
      padding: 20px 40px;
      }
    a {
      font-size: 0.85em;
    }
  }
}

@media only screen and (min-width: 767px) {
 
 .benschnell {
  h1 {
    font-size: 4em;
  }
  h3 {
    font-size: 2.5em;
  }
 }
  .headshot {
    margin: 4% auto 0 auto; }
  
  .headshot img {
    // max-width: 80%;
    margin: 0 auto 0 auto;
  }

  .philo {
    h4 {
      font-size: 2.2em;
    }
  }
  .tagline {
    p {
      font-size: 1.3em;
    }
  }  

  .next {
    margin-bottom: 50px;
  }

    /*******************************************************

  Gallery

  *********************************************************/
.examples2 {
  display: none;
}
.gallery1 {
    position:relative;
    width:100%;
    overflow:hidden;
    float:left;
    margin: 0 0 0 0;

  li {
    list-style-type: none;
  }
  img {
    margin-bottom: 10px;
  }
}


.explain {
  margin: 10px 10px;
  h2 {
  font-family: "Open Sans";
  font-size: 1.5em;
  }
   h3 {
    font-family: "Open Sans";
    font-size: 1.2em;
  }
   p {
    font-family: "Lora";
    font-size: 1.1em;
  }
   a {
    font-family: "Open Sans";
    font-size: 1.1em;
    color: gray;
    padding: 10px;
  }
}

  /*******************************************************

  End Gallery

  *********************************************************/

  .contact {
    clear: both;
    img {
      max-width: 200px !important;
      padding: 30px 40px;
      }
    a {
      font-size: 1em;
    }
  } 
}


@media only screen and (min-width: 1025px) {

  .top {
    background-attachment: fixed;
  }

  .benschnell {
    margin-top: 10%;
    margin-bottom: 10%;

    h1 {
      font-size: 5.5em;
      color: black;
      font-family: "Ubuntu";
      text-align: left;
      padding-left: 100px;
    }
    h3 {
     font-size: 2em;
     color: black;
     text-align: left;
     padding-left: 100px;
    }
  }

  .next {
    clear: both;
    margin-top: 100px;
    margin-left: 100px;
  }

  .headshot {
    img {
      max-width: 60%;
      margin: 50px 40% 0 0;
    }
  }

  .philo {
    h4 {
      text-align: left;
      color: black;
      margin: 80px 100px 0 -100px;
    }
  }

  .tagline p {
    text-align: left;
    color: black;
    margin: 0 100px 0 -100px;
  }

  .headshot img {
      // -webkit-filter: grayscale(100%);
      // -moz-filter: grayscale(100%);
      // filter: grayscale(100%);
  }

  .headshot img:hover {
    filter: none;
    -webkit-filter: none;
  }

  .samples h1 {
    font-size: 1.6em;
  }

  /*******************************************************

  Gallery

  *********************************************************/
.examples1 {
  display: none;
}

.examples2 {
  display: block;
}

.gallery {
    position:relative;
    width:32.5%;
    overflow:hidden;
    display: inline-block;
    float: center;
    margin: 0.25% 0.25%;
    border: solid gray 1px;

  li {
    list-style-type: none;
  }
}

.gallery figure {
    margin:0 auto;
    padding:0;
    position:relative;
    cursor:pointer;
}
.gallery figure img {
    display:block;
    position:relative;
    z-index:10;
}
.gallery figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.gallery figure h2 {
    font-family:'Open Sans';
    font-weight: 300;
    color: white;
    font-size:18px;
    text-align:left
}

.gallery figure h3 {
    font-family:'Open Sans';
    font-weight: 300;
    color: white;
    font-size:14px;
    text-align:left
}
.gallery figure p {
    display:block;
    font-family:'Lora';
    font-weight: 300;
    font-size:12px;
    line-height:18px;
    margin:0;
    color: white;
    text-align:left
}
.gallery a {
    font-family:'Open Sans';
    font-weight: 300;
    font-size:14px;
    line-height:30px;
    margin:0;
    color: white;
}

.gallery figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color: black;
    text-align:center;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.gallery figure img {
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.gallery figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.gallery figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

  /*******************************************************

  End Gallery

  *********************************************************/

  /*******************************************************

  Contact

  *********************************************************/

  .contact {
    clear: both;
    background-color: white !important;
    margin-top: 75px;
    h1 {
      display: block;
      font-size: 4em;
      background-color: white;
      color: black;
      margin-top: 0;
      font-family: "Ubuntu";
      text-align: center;
      padding: 30px 0 0 0;
    }
    ul {
      text-align: center;
      margin-left: 0;
    }
    img {
      max-width: 200px !important;
      margin: 40px 50px 20px 50px;
      }
    a {
      font-size: 1.5em !important;
      text-align: center;
      color: white;
    }
  } 
}


  /*******************************************************

  End Contact

  *********************************************************/

@media only screen and (min-width: 1200px) {

  .benschnell {
    margin-top: 10%;
  }

  .next {
    margin-top: 100px !important;
  }
  .contact {
    clear: both;
    background-color: white;
    overflow: hidden;
    ul{
      margin-left: -25px;
    }
    h1{
      font-size: 5em !important;
      margin-top: 0;
      font-family: "Ubuntu";
    }
    li {
      display: inline-block;
    }
    img {
      max-width: 200px;
      }
    
    a {
      font-size: 1em;
      padding-bottom: 30px;
    }
  }
}

